@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');

.menuContainer {
  display: flex;
  height: 4em;
  background-color: #82A9A9;
  justify-content: center;
  align-items: center;
}

.textContainer {
  color: white;
  
}