@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {
  background-image: url(/src/Assets/img/maps1.jpg);
}

.contentContainer {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  border-radius: 40px;
}

.textContainer {
  background-color: #82A9A9;
  color: white;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}

.inputStyle {
  width: 13vw;
  height: 3.8vh;
  border: none;
  outline: none;
  text-align: center;
}

.buttonContainer {
  display: flex;
  margin-top: 0.8em;
  justify-content: center;
}

.buttonStyle {
  width: 13.1vw;
  height: 4.2vh;
  border-radius: 3px;
  border: none;
  outline: none;
}