@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

footer {
  display: flex;
  flex-direction: column;
  background-color: #82A9A9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0.5em 0;
}

.containerText {
  display: flex;
  justify-content: center;
  font-size: small;
  font-family: 'Roboto Mono', monospace;
}

.containerSocial {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 1.5vh;
}

.containerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size:2vw;
}

a:visited {
  color: black;
}

a:hover {
  color: #003250;
}